<div id="<%= dom_id flatt %>">
  <p>
    <strong>Name:</strong>
    <%= flatt.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= flatt.address %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= flatt.description %>
  </p>

  <p>
    <strong>Price per night:</strong>
    <%= flatt.price_per_night %>
  </p>

  <p>
    <strong>Number of guests:</strong>
    <%= flatt.number_of_guests %>
  </p>

</div>
