<p style="color: green"><%= notice %></p>

<%= render @flatt %>

<div>
  <%= link_to "Edit this flatt", edit_flatt_path(@flatt) %> |
  <%= link_to "Back to flatts", flatts_path %>

  <%= button_to "Destroy this flatt", @flatt, method: :delete %>
</div>
